/**
* 
* Primary Colors
*
*/
$primary-main: #5989ef;
$primary-dark: #4e7bdc;
$primary-light: #e6f1ff;

/**
* 
* Secondary Colors
*
*/
$secondary-main: #29cc8b;
$secondary-dark: #21bf80;
$secondary-light: #f1fdf4;

/**
* 
* Support Colors
*
*/
$support-primary: #a2b2c2;
$support-primary-light: #f5f8fa;
$support-third-main: #fdaa3e;
$support-third-dark: #fcd05a;
$support-third-light: #ffebd1;

/**
* 
* Text Colors
*
*/
$text-main: #173e67;
$text-dark: #9eb3c2;
$text-light: #ffffff;

/**
* 
* Status Colors
* 
*/ // Error
$status-error-main: #f93d3d;
$status-error-dark: #f2675e;
$status-error-light: #fee2e2;

// Status Success
$status-sucess-light: #69d369;

/**
* 
* Backgrounds Colors
* 
*/
$bg-main: #fafbfc;
$bg-page: #f5f9fe;
$bg-dark: rgba(0, 0, 0, 0.5);
$bg-section: #eef4fc;
$white: #ffffff;
$black: #000000;
/**
* 
* Backgrounds Colors
* 
*/
$border-main: #d0d9e2;
$border-light: #eff3f6;

/**
* 
* Shadows Colors
* 
*/
$shadow-main: #143250;
